﻿<title>Áurea Maria Mesquita</title>
<center><img src="43275571_342831639822008_365020521638658048_n.jpg"/><br/><h1>Áurea Maria Mesquita</h1></center>
<h2>Social</h2>
<li><a href="https://web.facebook.com/aureamariacorrea.mesquita.7" target="blank">Facebook</a></li>
<li><a href="https://aureamariamesquita.jusbrasil.com.br/" target="blank">Jusbrasil</a></li>
<!--<li><a href="" target="blank">Instagram</a></li>-->
<li><a href="https://github.com/aureamesquita" target="blank">GitHub</a></li>
<li><a href="https://gitlab.com/aureamesquita" target="blank">GitLab</a></li>
<li><a href="http://perfil.mercadolivre.com.br/AUREAMARIAMESQUITA" target="blank">Mercado Livre</a></li>
<li><a href="https://twitter.com/EuAureaMesquita" target="blank">Twitter</a></li>
<h2>Music</h2>
<li><a href="https://ipfs.io/ipfs/QmVjPNtwdbooMwJhLQnVeJQT8rqAeaU3jUrVs5GWHE6Fc4" target="blank">Jesus é bom exemplo</a></li>
<li><a href="https://ipfs.io/ipfs/QmZ9BUuqHynCc9UX49x5WEVLY65GidySdksCGZc224TkiP" target="blank">Oh meu Deus Oh meu Jesus</a></li>
<li><a href="https://ipfs.io/ipfs/QmRS8aryTg5EojonQbv6VzMDLtzukWu7XHhozK8wMonfWV" target="blank">Plantam Espinhos</a></li>
<li><a href="https://ipfs.io/ipfs/QmRx6eyQsQj4j9x5geMu37Rqa7CgKxYfUVZwmS1YyWnFKH" target="blank">Filosofia de vida cruel</a></li>
<li><a href="https://ipfs.io/ipfs/QmdzwYKmbg6xwEQx93EgJbWcdMa8PXDxiohyi5TCbaKusc" target="blank">Jesus príncipe da paz</a></li>
<h2><a href="https://ipfs.io/ipfs/QmVyMYmXqZrSvk2umCTXQxrXKLz1SyUx1LcNJszMa7FWQm/" target="blank">Dossier</a></h2>
<h2>Emails</h2>
<li>aureamesquita@protonmail.com</li>
<li>aureacorreamesquita@gmail.com</li>
<li>aureamariamesquita@outlook.com</li>
<h2>Phone</h2>
<p>+5541996130727</p>